/* charts */

figure.chart_chart {}
figure.chart_chart figcaption {
    font-size: larger;
}

/* chart administration */

article.chart_admin {}
article.chart_admin ul {
    list-style: none;
}
article.chart_admin .chart_controls {
    margin: 1em 0;
    display: flex;
    justify-content: right;
}

/* chart edit */

/* map editor */

article.chart_edit {}
article.chart_edit .chart_help {
    font-size: smaller;
    font-weight: normal;
}
article.chart_edit form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
article.chart_edit input,
article.chart_edit textarea {
    display: block;
    width: 100%;
}
article.chart_edit .chart_labels,
article.chart_edit .chart_datasets {
    grid-column: 1/3;
}
article.chart_edit .chart_labels textarea {
    height: 5em;
}
article.chart_edit .chart_datasets textarea {
    height: 10em;
}
article.chart_edit table {
    grid-column: 1/3;
    width: 100%;
    table-layout: fixed;
}
article.chart_edit caption {
    font-size: larger;
}
article.chart_edit col:nth-child(1) {
    width: 8em;
}
article.chart_edit col:nth-child(2) {
    width: 4em;
}
article.chart_edit col:nth-child(4) {
    width: 5em;
}
article.chart_edit th,
article.chart_edit td {
    vertical-align: top;
}
article.chart_edit th .chart_help {
    display: block;
}
article.chart_edit td:nth-child(3) {
    display: flex;
    align-items: flex-start;
    text-align: right;
}
article.chart_edit th:nth-child(4),
article.chart_edit td:nth-child(4) {
    text-align: right;
}
article.chart_edit .chart_edit_dataset {
    display: inline;
    width: auto;
}
article.chart_edit .chart_controls {
    grid-column: 1/3;
    margin: 1em 0;
    display: flex;
    justify-content: right;
}

/* plugin info */

article.chart_plugininfo {}
article.chart_pluginfo .maps_syscheck {}
